/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;
}

.omelette-img {
  width: 100%;
  height: 10.688rem;
  margin: 0;
}

.text-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  width: 19.438rem;
  height: auto;
}

h1 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 100%;
  color: #312e2c;
  margin-bottom: 1.5rem;
}

.title p {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: #5f564d;
  margin: 0;
}

.preparation {
  width: 19.438rem;
  height: auto;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: #fff7fb;
}

.preparation h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 100%;
  color: #7a284e;
  margin: 0;
  margin-bottom: 1rem;
}

span {
  font-weight: bold;
}

.preparation ul {
  color: #5f564d;
  margin: 0;
  padding-left: 1rem;
}

.preparation ul li::marker {
  color: #7a284e;
}

.preparation ul li {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-left: 1rem;
}

.preparation ul li:last-child {
  margin-bottom: 0;
}

.ingredients {
  width: 19.438rem;
  height: auto;
}

.ingredients h2 {
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 100%;
  color: #854632;
  margin: 0;
  margin-bottom: 1.5rem;
}

.ingredients ul {
  color: #5f564d;
  margin: 0;
  padding-left: 1rem;
}

.ingredients ul li::marker {
  color: #854632;
}

.ingredients ul li {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-left: 1rem;
}

.ingredients ul li:last-child {
  margin-bottom: 0;
}

hr {
  width: 19.438rem;
  text-align: center;
  color: #e3ddd7;
}

.instructions {
  width: 19.438rem;
  height: auto;
}

.instructions h2 {
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 100%;
  color: #854632;
  margin: 0;
  margin-bottom: 1.5rem;
}

.instructions ol {
  color: #5f564d;
  margin: 0;
  padding-left: 1.5rem;
}

.instructions ol li::marker {
  color: #854632;
  font-weight: bold;
}

.instructions ol li {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.instructions ol li:last-child {
  margin-bottom: 0;
}

.nutrition {
  width: 19.438rem;
  height: auto;
}

.nutrition h2 {
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 100%;
  color: #854632;
  margin: 0;
  margin-bottom: 1.5rem;
}

.nutrition p {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: #5f564d;
  margin: 0;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
}

table tr .nutrition-ps {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: #5f564d;
  padding-left: 2rem;
}

table tr .values {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 150%;
  color: #854632;
}

table {
  border-collapse: collapse;
}

table tr td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e3ddd7;
}

table tr:first-child td {
  padding-top: 0;
}

table tr:last-child td {
  padding-bottom: 0;
  border-bottom: 0;
}

@media only screen and (min-width: 700px) {
  body {
    background-color: #f3e5d7;
    height: 100svh;
    display: grid;
    place-items: center;
  }

  main {
    width: 600px;
    height: auto;
    background-color: white;
  }

  .text-content {
    width: 500px;
  }
}
