/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.card {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

/* Common Styles */
h1,
h2,
p,
ul,
ol {
  margin: 0;
}

h1,
h2 {
  line-height: 100%;
  font-family: "Young Serif", serif;
}

p,
ul li {
  line-height: 150%;
}

ul {
  padding-left: 1rem;
}

ul li {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-left: 1rem;
}

/* Line Styles */
.visual-line {
  width: 100%;
  height: 1px;
  background-color: #e3ddd7;
}

/* Image Styles */
.omelette-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Text Content Styles */
.text-content {
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Title Styles */
.main-heading {
  font-size: 2.25rem;
  font-weight: normal;
  color: #312e2c;
  margin-bottom: 1.5rem;
}

.title p {
  font-size: 1rem;
  font-weight: normal;
  color: #5f564d;
}

/* Preperation Styles */
.preparation {
  padding: 1.5rem;
  border-radius: 12px;
  background-color: #fff7fb;
}

.preparation h2 {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #7a284e;
  margin-bottom: 1rem;
}

span {
  font-weight: bold;
}

.preparation ul {
  color: #5f564d;
}

.preparation ul li::marker {
  color: #7a284e;
}

.preparation ul li {
  font-size: 1rem;
  font-weight: normal;
}

.preparation ul li:last-child {
  margin-bottom: 0;
}

/* Ingredients Styles */
.ingredients h2 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #854632;
  margin-bottom: 1.5rem;
}

.ingredients ul {
  color: #5f564d;
}

.ingredients ul li::marker {
  color: #854632;
}

.ingredients ul li {
  font-size: 1rem;
  font-weight: normal;
}

.ingredients ul li:last-child {
  margin-bottom: 0;
}

/* Intructions Styles */
.instructions h2 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #854632;
  margin-bottom: 1.5rem;
}

.instructions ol {
  color: #5f564d;
  padding-left: 1.5rem;
}

.instructions ol li::marker {
  color: #854632;
  font-weight: bold;
}

.instructions ol li {
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.instructions ol li:last-child {
  margin-bottom: 0;
}

/* Nutrition Styles */
.nutrition h2 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #854632;
  margin-bottom: 1.5rem;
}

.nutrition p {
  font-size: 1rem;
  font-weight: normal;
  color: #5f564d;
  margin-bottom: 1.5rem;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table tr .nutrition-ps {
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: #5f564d;
  padding-left: 2rem;
}

table tr .values {
  font-size: 1rem;
  font-weight: bold;
  line-height: 150%;
  color: #854632;
}

table tr td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e3ddd7;
}

table tr:first-child td {
  padding-top: 0;
}

table tr:last-child td {
  padding-bottom: 0;
  border-bottom: 0;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  body {
    background-color: #f3e5d7;
    display: grid;
    place-items: center;
    padding: 128px 48px;
  }

  .card {
    max-width: 536px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 2.5rem;
    border-radius: 24px;
  }

  .omelette-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2.5rem;
    border-radius: 12px;
  }

  .text-content {
    padding: 0;
  }

  .main-heading {
    font-size: 2.5rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1440px) {
  .card {
    max-width: 736px;
  }
}
